<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="ISO-8859-1">
	<title>Ticket Tracker Application</title>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
		integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<style>
		footer {
			text-align: center;
			padding: 12px;
			background-color: DarkSalmon;
			color: rgb(0, 0, 0);
		}
	</style>
</head>

<body>

	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" href="/admin/tickets">Ticket Tracker Application</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
			aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav">
				<li class="nav-item active"><a class="nav-link" href="/admin/tickets">Tickets
						<span class="sr-only">(current)</span>
					</a></li>
				<li class="nav-item"><a class="nav-link" href="/admin/tickets/newticket">New
						Ticket</a></li>
			</ul>
		</div>
	</nav>

	<div class="container my-2">
		<h1>List of Tickets</h1>
		<form th:action="@{/admin/tickets}">
			<input id="keyword" type="text" name="keyword" th:value="${keyword}" required />
			<button type="submit" value="Search" />Search</button>
		</form>
		<br>
		<table border="1" class="table table-striped table-responsive-md">
			<thead>
				<tr>
					<th>

						S.No
					</th>
					<th>

						Ticket Title
					</th>
					<th>

						Ticket Short Description
					</th>
					<th>

						Ticket Created on
					</th>
					<th> Actions </th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="tickets, rCount : ${listTickets}">
					<td th:text="${rCount.count}"></td>
					<td th:text="${tickets.title}"></td>
					<td th:text="${tickets.description}"></td>
					<td th:text="${tickets.date}"></td>
					<td> <a th:href="@{/admin/tickets/showFormForUpdate/{id}(id=${tickets.id})}"
							class="btn btn-primary">Edit</a>
						<a th:href="@{/deleteTicket/{id}(id=${tickets.id})}" class="btn btn-danger"
							onclick="if(!(confirm('Are you sure you want to delete the ticket?'))) return false">Delete</a>
						<a th:href="@{/admin/tickets/showForm/{id}(id=${tickets.id})}"
							class="btn btn-secondary">View</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
<footer>
	<p><b>CopyRights 2023 Greatlearning All right reserved G3-G8-Aug'2023</b></p>
	<!--  <p><a href="mailto:ramachandrans498@outlook.com">Email to reserve copyrights</a></p>-->
</footer>

</html>